<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2020</span>
    </div>
</footer>



<style>
    .footer{
    position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   
    }