<%- layout('./boilerplate/main') %> 
<h1 style="text-align: center;">Create a new Bid</h1>
<div class="card shadow-lg" style="padding: 10px; margin-top: 20px; ">
<form action="/bids/new" method="post" class="needs-validation" novalidate enctype="multipart/form-data">

<label for="name" class="form-label">enter what you want help with (only 48 characters allowed)</label>
<input type="text" name="name" id="name" class="form-control" required maxlength="48">
<label for="string" class="form-label">enter the maximum price you can afford</label>
<input type="text" name="price" id="price" class="form-control" required>
<label for="location" class="form-label">location where the technician should come to</label>
<input type="text" name="location" id="location" class="form-control" required>
<label for="specilization">specilization required</label>
<select id="specilization" name="specilization" class="form-control" required>
    <option value="electrician">electrician</option>
    <option value="plumber">plumber</option>
    <option value="mechanic">mechanic</option>
  </select>
<label for="image" class="form-label">Upload image of problem (multiple images supported)</label>
<input type="file" name="image" id="image" class="form-control" multiple>
<label for="description" class="form-label">Enter brief description of what happened</label>
<textarea name="description" id="description" cols="30" rows="4" class="form-control" required></textarea>
<button class="btn btn-primary mt-3 align-text">submit</button>
</form>
</div>
<style>

  input {
margin: 5px;
    
  }
  form {
    margin : 5px
  }
</style>

<script src="/bootstrapvalidation.js"></script>