<%- layout('./boilerplate/main') %>

<form
  action="/cards/new"
  method="post"
  class="needs-validation"
  novalidate
  enctype="multipart/form-data"
>
  <label for="name" class="form-label">Name</label>
  <input type="text" name="name" id="name" class="form-control" required />
  <label for="age" class="form-label">Age</label>
  <input type="text" name="age" id="age" class="form-control" required />
  <label for="experience" class="form-label">Experience</label>
  <input
    type="text"
    name="experience"
    id="experience"
    class="form-control"
    required
  />
  <label for="location" class="form-label">Location</label>
  <input
    type="text"
    name="location"
    id="location"
    class="form-control"
    required
  />
  <label for="image" class="form-label">Image</label>
  <input type="file" name="image" id="image" class="form-control" required />
  <label class="mt-2" for="specilization">Specialization</label>
  <select
    id="specilization"
    name="specilization"
    class="form-control mb-2"
    required
  >
    <option value="electrician">Electrician</option>
    <option value="plumber">Plumber</option>
    <option value="mechanic">Mechanic</option>
  </select>
  <label for="contact" class="form-label">Contact number</label>
  <input
    type="number"
    name="contact"
    id="contact"
    class="form-control"
    required
  />
  <label for="email">Email</label>
  <input type="email" name="email" id="email" class="form-control" required />
  <button class="btn btn-success mt-3">Submit</button>
</form>

<script src="/bootstrapvalidation.js"></script>
