<%- layout('./boilerplate/main.ejs') %> 

<form action="/user/register" method="post" class="needs-validation" novalidate>

    <label for="username" class="form-label" >enter username</label>
    <input type="text" name="username" id="username" class="form-control" required>
    <label for="email" class="form-label">enter your email</label>
    <input type="email" name="email" id="email" class="form-control" required>
    <label for="isProfessional">are you a professional</label>
    <input type="radio" name="isProfessional" id="isProfessional" value="true"><br>
    <label for="password" class="form-label" required>enter your password</label>
    <input type="password" name="password" id="password" class="form-control" required>
    <button class="btn btn-success"> submit
    </button>
    
    

</form>

<script src="/bootstrapvalidation.js"></script>